.app-container {
    margin: 4rem 5%;
    font-family: "Open sans";
}

@media only screen and (min-width: 768px) {
    .app-container {
        margin: 4rem 10%;
    }
}

.app-main-title {
}

.app-table {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    width: 100%;
    font-size: 1.25rem;
}

.app-table .app-table-th, .app-table-td {    
    text-align: left;
    padding: 8px;    
}

.app-table .app-table-tr:nth-child(even) {
    background-color: #f2f2f2;
}

.app-table .app-table-tr--hover:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.app-table-footer {
    margin: 1rem 0;
}

.app-return-button {
    color: black;
    background-color: white;
    border-radius: .25rem;

    border: 1px solid #cccccc;

    padding: .25rem .75rem;

    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    display: inline-block;
}

.app-return-button:hover {
    cursor: pointer;
    color: white;
    background-color: #cccccc;
}