.app-table {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    width: 100%;
}

.app-table .app-table-th, .app-table-td {    
    text-align: left;
    padding: 8px;    
}

.app-table .app-table-tr:nth-child(even) {
    background-color: #f2f2f2;
}

.app-table .app-table-tr--hover:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.app-return-link {
    font-size: 1.2rem;
    color: blue;
}

.app-return-link:hover {
    cursor: pointer;
    text-decoration: underline;
}